@use "./variables" as *;

html {
  font-size: 0.625rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  color: $brainflix-black;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}