// @use "./fonts" as *;

// breakpoints
$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

// primary colours
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$brainflix-silver: #afafaf;
$brainflix-white: #ffffff;

// secondary colours
$brainflix-darkBlack: #000000;
$brainflix-darkBlue: #0065ad;
$brainflix-mercury: #e1e1e1;
$brainflix-alabaster: #fafafa;

// form validation error colour
$brainflix-red: #d22d2d;

// font stack
$font-stack: "avenir", Verdana, Geneva, Tahoma, sans-serif;
