@use "../../../styles/partials/mixins" as mixins;

.assessment-form__input {
    height: 3rem;
    border-radius: 4px;
    padding: 1.2rem;
    margin-top: 0.4rem;
    border: 1px solid #E1E1E1;
    font-family: inherit;
    background-color: #FAFAFA;
    min-width: 24rem;
    @include mixins.text-label;

    &--number {
        width: 10rem;
        color: #000;
        display: block;
        min-width: 0;
    }
}